---
import "../styles/global.css";
const { title = "Discordium Report" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content="Discordium investigation, doxxing, harassment, GDPR violations, Discord ToS issues" />
    <meta property="og:title" content="Discordium Founder" />
    <meta property="og:description" content="Doxxing, harassment, GDPR violations, and misconduct tied to Discordium." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://discordium-org.github.io/Discordium/" />
    <meta property="og:image" content="https://discordium-org.github.io/Discordium/images/embed.png" />
    
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Discordium Investigation" />
    <meta name="twitter:description" content="Doxxing, harassment, GDPR violations, and misconduct tied to Discordium." />
    <meta name="twitter:image" content="https://discordium-org.github.io/Discordium/images/embed.png" />
  </head>
  <body style="font-family: sans-serif; background:#0b0f17; color:white; padding:40px;">
    <main>
      <slot />
    </main>
  </body>
</html>
